* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif; }

.sectionProductos1 p, .sectionProductos2 p {
  margin: 0.9rem;
  line-height: 1.8rem;
  text-align: center; }

.imagenQuienes, video {
  height: 25rem;
  border: solid #bd9354 0.5rem;
  margin: 1rem; }

.grilla {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
  grid-template-areas: "header header header header" "carousel carousel carousel carousel" "primeraSeccion primeraSeccion primeraSeccion Aside" "segundaSeccion segundaSeccion segundaSeccion segundaSeccion" "footer footer footer footer";
  background-color: white;
  margin: 0.5rem; }

.header {
  grid-area: header;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white; }
  .header .logoXuca {
    height: 8rem; }
  .header .nav {
    width: 100%;
    background-color: #bd9354;
    justify-content: space-around; }
  .header .navbar > .container-fluid,
  .header .navbar > .container-lg,
  .header .navbar > .container-md,
  .header .navbar > .container-sm,
  .header .navbar > .container-xl,
  .header .navbar > .container-xxl {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    flex-direction: column; }
  .header ul {
    display: flex;
    background-color: #bd9354;
    align-items: center;
    justify-content: center; }
  .header li {
    padding: 5px;
    list-style: none;
    font-size: 1.1rem; }
  .header .enlaces {
    color: white;
    text-decoration: none; }
    .header .enlaces:hover {
      background-color: rgba(255, 255, 255, 0.459);
      border-radius: 5px; }

.carousel {
  grid-area: carousel;
  display: flex; }

.primeraSeccion {
  grid-area: primeraSeccion;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  margin: 5px; }
  .primeraSeccion h2 {
    margin-top: 0.5rem; }
  .primeraSeccion p {
    padding: 0.5rem;
    line-height: 1.5rem; }
  .primeraSeccion .imagenSection {
    height: 20rem;
    border-radius: 5%;
    border: solid 5px #bd9354;
    margin: 5px; }
    .primeraSeccion .imagenSection:hover {
      transition: 1.1;
      transform: scale(1.1); }

.segundaSeccion {
  grid-area: segundaSeccion;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 5px; }
  .segundaSeccion h3 {
    text-decoration: underline;
    margin: 0.5rem; }
  .segundaSeccion p {
    margin: 00.5rem; }
  .segundaSeccion .imagenSection2 {
    height: 10rem;
    margin: 4px;
    border-radius: 5%;
    padding: 0.5rem;
    text-align: center; }
    .segundaSeccion .imagenSection2:hover {
      filter: saturate(150%); }
  .segundaSeccion .divImagenes2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    align-content: flex-end;
    flex-wrap: nowrap;
    background-color: #c0aa6e;
    width: 100%; }

.Aside {
  grid-area: Aside; }

.divAside {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-image: url(https://images.unsplash.com/photo-1508716897701-edab2a9e860c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=388&q=80);
  background-size: cover;
  color: black;
  margin: 5px; }

h3 {
  color: #bd9354;
  text-decoration: underline;
  padding: 0.5rem; }

h5 {
  margin-top: 8rem; }

.enlaceAside {
  text-decoration: none;
  color: white;
  background-color: #bd9354; }
  .enlaceAside:hover {
    background-color: rgba(255, 255, 255, 0.459);
    border-radius: 5px;
    color: black; }

.footer {
  grid-area: footer; }
  .footer .divFooter {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-image: linear-gradient(90deg, #85603f 0%, #bd9354 53%, #e3d18a 100%);
    justify-content: space-around; }
  .footer h4 {
    text-decoration: underline;
    color: #876445; }
  .footer a {
    list-style: none;
    color: black;
    text-decoration: none; }
  .footer .icono {
    font-size: 2rem;
    color: black;
    margin: 0.1rem; }
    .footer .icono:hover {
      color: #bd9354; }
  .footer .ulIconos {
    display: flex;
    margin: 1rem;
    list-style: none; }
  .footer .logoXuca1 {
    height: 2rem; }
    .footer .logoXuca1:hover {
      transition: 1.1;
      transform: scale(1.1); }
  .footer .whatsapp {
    position: fixed;
    top: auto;
    bottom: 20px;
    right: 20px;
    font-size: 2rem;
    color: #00bb2d; }
    .footer .whatsapp:hover {
      transition: 1.1;
      transform: scale(1.1); }

@media (max-width: 425px) {
  .grilla {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
    grid-template-areas: "header header header header" "primeraSeccion primeraSeccion primeraSeccion primeraSeccion" "segundaSeccion segundaSeccion segundaSeccion segundaSeccion" "footer footer footer footer"; }
  .header ul {
    display: flex;
    background-color: #bd9354;
    margin: 5px;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
  .primeraSeccion {
    grid-area: primeraSeccion;
    display: flex;
    text-align: center;
    justify-content: flex-start;
    margin: 5px;
    /* background-color: #c0aa6e; */
    flex-direction: column; }
  .imagenSection {
    max-height: 10rem;
    border-radius: 5%;
    border: solid 5px #bd9354;
    margin: 5px; }
  .segundaSeccion .divImagenes2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    align-content: flex-end;
    flex-wrap: nowrap;
    background-color: #c0aa6e;
    width: 100%; }
  .divAside {
    display: none; }
  .carousel {
    display: none; } }

.grillaProductos {
  display: grid;
  grid-template-areas: "headerProductos headerProductos headerProductos headerProductos" "sectionProductos sectionProductos sectionProductos sectionProductos" "sectionProductos sectionProductos sectionProductos sectionProductos" "footerProductos footerProductos footerProductos footerProductos"; }

.headerProductos {
  grid-area: headerProductos;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white; }
  .headerProductos .logoXuca {
    height: 8rem; }
  .headerProductos .nav {
    width: 100%;
    background-color: #bd9354;
    justify-content: space-around; }
  .headerProductos .navbar > .container-fluid,
  .headerProductos .navbar > .container-lg,
  .headerProductos .navbar > .container-md,
  .headerProductos .navbar > .container-sm,
  .headerProductos .navbar > .container-xl,
  .headerProductos .navbar > .container-xxl {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    flex-direction: column; }
  .headerProductos ul {
    display: flex;
    background-color: #bd9354;
    align-items: center;
    justify-content: center; }
  .headerProductos li {
    padding: 5px;
    list-style: none;
    font-size: 1.1rem; }
  .headerProductos .enlaces {
    color: white;
    text-decoration: none; }
    .headerProductos .enlaces:hover {
      background-color: rgba(255, 255, 255, 0.459);
      border-radius: 5px; }

.sectionProductos {
  grid-area: sectionProductos;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem; }
  .sectionProductos h2 {
    text-align: center;
    margin: 0.5rem;
    text-decoration: underline; }
  .sectionProductos .imagenProductos {
    height: 15rem;
    margin: 0.5rem; }
    .sectionProductos .imagenProductos:hover {
      transition: 1.1;
      transform: scale(1.1); }

.footerProductos {
  grid-area: footerProductos; }
  .footerProductos .divFooter {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-image: linear-gradient(90deg, #85603f 0%, #bd9354 53%, #e3d18a 100%);
    justify-content: space-around; }
  .footerProductos h4 {
    text-decoration: underline;
    color: #876445; }
  .footerProductos a {
    list-style: none;
    color: black;
    text-decoration: none; }
  .footerProductos .icono {
    font-size: 2rem;
    color: black;
    margin: 0.1rem; }
    .footerProductos .icono:hover {
      color: #bd9354; }
  .footerProductos .ulIconos {
    display: flex;
    margin: 1rem;
    list-style: none; }
  .footerProductos .logoXuca1 {
    height: 2rem; }
    .footerProductos .logoXuca1:hover {
      transition: 1.1;
      transform: scale(1.1); }
  .footerProductos .whatsapp {
    position: fixed;
    top: auto;
    bottom: 20px;
    right: 20px;
    font-size: 2rem;
    color: #00bb2d; }
    .footerProductos .whatsapp:hover {
      transition: 1.1;
      transform: scale(1.1); }

@media (max-width: 425px) {
  .grillaProductos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
    grid-template-areas: "headerProductos headerProductos headerProductos headerProductos" "sectionProductos sectionProductos sectionProductos sectionProductos" "sectionProductos sectionProductos sectionProductos sectionProductos" "footerProductos footerProductos footerProductos footerProductos"; }
  .headerProductos ul {
    display: flex;
    background-color: #bd9354;
    margin: 5px;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
  .imagenProductos {
    max-height: 9rem;
    margin: 5px; } }

.grillaProductos {
  display: grid;
  grid-template-areas: "headerProductos headerProductos headerProductos headerProductos" "sectionProductos sectionProductos sectionProductos sectionProductos" "sectionProductos3 sectionProductos3 sectionProductos3 sectionProductos3" "footerProductos footerProductos footerProductos footerProductos"; }

.sectionProductos1 {
  grid-area: sectionProductos;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1rem;
  border: solid #bd9354 2px; }
  .sectionProductos1 h2 {
    margin-top: 0.8rem; }
  .sectionProductos1 p {
    width: 60%; }

.sectionProductos2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px; }
  .sectionProductos2 p {
    width: 60%; }

.sectionProductos3 {
  grid-area: sectionProductos3;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin: 1rem;
  border: solid #c0aa6e 2px; }

@media (max-width: 425px) {
  .sectionProductos1 {
    grid-area: sectionProductos;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem; }
  .sectionProductos3 {
    grid-area: sectionProductos3;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem; }
  .imagenQuienes {
    height: 15rem;
    border: solid #bd9354 0.3rem;
    margin: 1rem; } }

.sectionProductos h2 {
  text-decoration: underline; }

.fw-semibold {
  margin-top: 1rem; }

h4 {
  color: #876445; }

.divCursos {
  grid-area: sectionProductos;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 0%; }

.divForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
  padding: 1.5rem;
  border: solid #bd9354 0.5rem; }

.divCursos1 {
  display: flex;
  width: 70%;
  flex-direction: column;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  align-items: center; }
  .divCursos1 p {
    margin: 1rem;
    width: 70%;
    text-align: center;
    line-height: 1.8rem; }

.container {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem; }

.whatsapp1 {
  font-size: 5rem;
  color: green; }
  .whatsapp1:hover {
    color: #bd9354; }

@media (max-width: 425px) {
  .divCursos {
    grid-area: sectionProductos;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem; }
  .divForm {
    display: none; }
  video {
    height: 15rem; }
  h4 {
    text-align: center; } }

.grillaContacto {
  display: grid;
  grid-template-areas: "headerContacto headerContacto headerContacto headerContacto" "sectionContacto sectionContacto sectionContacto asideContacto" "sectionContacto sectionContacto sectionContacto asideContacto" "footerContacto footerContacto footerContacto footerContacto"; }

.headerContacto {
  grid-area: headerContacto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white; }
  .headerContacto .logoXuca {
    height: 8rem; }
  .headerContacto .nav {
    width: 100%;
    background-color: #bd9354;
    justify-content: space-around; }
  .headerContacto .navbar > .container-fluid,
  .headerContacto .navbar > .container-lg,
  .headerContacto .navbar > .container-md,
  .headerContacto .navbar > .container-sm,
  .headerContacto .navbar > .container-xl,
  .headerContacto .navbar > .container-xxl {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    flex-direction: column; }
  .headerContacto ul {
    display: flex;
    background-color: #bd9354;
    align-items: center;
    justify-content: center; }
  .headerContacto li {
    padding: 5px;
    list-style: none;
    font-size: 1.1rem; }
  .headerContacto .enlaces {
    color: white;
    text-decoration: none; }
    .headerContacto .enlaces:hover {
      background-color: rgba(255, 255, 255, 0.459);
      border-radius: 5px; }

.sectionContacto {
  grid-area: sectionContacto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white; }

.formularioContacto {
  display: flex;
  flex-direction: column;
  align-items: center; }

input {
  margin: 0.5rem;
  text-align: center;
  border: solid 1px black; }

.footerContacto {
  grid-area: footerContacto; }
  .footerContacto .divFooter {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-image: linear-gradient(90deg, #85603f 0%, #bd9354 53%, #e3d18a 100%);
    justify-content: space-around; }
  .footerContacto h4 {
    text-decoration: underline;
    color: #876445; }
  .footerContacto a {
    list-style: none;
    color: black;
    text-decoration: none; }
  .footerContacto .icono {
    font-size: 2rem;
    color: black;
    margin: 0.1rem; }
    .footerContacto .icono:hover {
      color: #bd9354; }
  .footerContacto .ulIconos {
    display: flex;
    margin: 1rem;
    list-style: none; }
  .footerContacto .logoXuca1 {
    height: 2rem; }
    .footerContacto .logoXuca1:hover {
      transition: 1.1;
      transform: scale(1.1); }
  .footerContacto .whatsapp {
    position: fixed;
    top: auto;
    bottom: 20px;
    right: 20px;
    font-size: 2rem;
    color: #00bb2d; }
    .footerContacto .whatsapp:hover {
      transition: 1.1;
      transform: scale(1.1); }

.asideContacto {
  grid-area: asideContacto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem; }

h3 {
  text-decoration: underline; }

iframe {
  margin: 2rem; }

li {
  list-style: none; }

.iconosContacto {
  padding: 0.5rem; }

@media (max-width: 425px) {
  .grillaContacto {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
    grid-template-areas: "headerContacto headerContacto headerContacto headerContacto" "sectionContacto sectionContacto sectionContacto sectionContacto" "sectionContacto sectionContacto sectionContacto sectionContacto" "footerContacto footerContacto footerContacto footerContacto"; }
  .headerContacto ul {
    display: flex;
    background-color: #bd9354;
    margin: 5px;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
  .sectionContacto {
    grid-area: sectionContacto;
    display: flex;
    text-align: center;
    justify-content: flex-start;
    margin: 5px;
    /* background-color: #c0aa6e; */
    flex-direction: column; }
  .asideContacto {
    display: none; } }
