%estiloParrafo {
  margin-top: 0.2rem;
  margin-left: 0.8rem;
  margin-right: 0.8rem;
  margin-bottom: 0.2rem;
  line-height: 1.5rem;
  text-align: center;
}

%bordesImagenes{
  height: 20rem;
  border: solid #bd9354 0.5rem;
  margin: 1rem;
}
