.primeraSeccion {
    grid-area: primeraSeccion;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    margin: 5px;
    h2 {
      margin-top: 0.5rem;
    }
    p {
      padding: 0.5rem;
      line-height: 1.8rem;
      font-size: 1.2rem;
      width: 80%;
    }
    .imagenSection {
      height: 20rem;
      border-radius: 5%;
      border: solid 5px $marronPrincipal;
      margin: 5px;
      &:hover {
        transition: (1.1);
        transform: scale(1.1);
      }
    }
    .botonForm{
      color: white;
      background-color: $marronPrincipal;
      border: solid 1px $marronPrincipal;
      &:hover {
        background-color: $fondo;
        color: white;
        border: solid 1px white;
      }
  }
}
