.primeraSeccion {
    grid-area: primeraSeccion;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    margin: 5px;
    h2 {
      margin-top: 0.5rem;
    }
    p {
      padding: 0.5rem;
      line-height: 1.5rem;
    }
    .imagenSection {
      height: 20rem;
      border-radius: 5%;
      border: solid 5px $marronPrincipal;
      margin: 5px;
      &:hover {
        transition: (1.1);
        transform: scale(1.1);
      }
    }
  }
