.sectionContacto {
  grid-area: sectionContacto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.formularioContacto {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  text-align: center;
  margin-bottom: 1rem;
}

.border {
  border: var(--bs-border-width) var(--bs-border-style) #bd9354 !important;
}

.botonForm {
  color: white;
  background-color: $marronPrincipal;
  border: solid 1px $marronPrincipal;
  &:hover {
    background-color: $fondo;
    color: white;
    border: solid 1px white;
  }
}
