.sectionProductos h2 {
    margin-top: 8px;
    text-decoration: underline;
  }
   p {
    @extend %estiloParrafo;
  }
  h4 {
    color: $coloresLetras;
  }
   video {
    height: 20rem;
    border: solid $marronPrincipal 0.5rem;
    margin: 1rem;
  }
  
  .container {
    display: flex;
    justify-content: center;
  }