.sectionProductos h2 {
  text-decoration: underline;
}
.fw-semibold {
  margin-top: 1rem;
}
h4 {
  color: $coloresLetras;
}
video {
  @extend %bordesImagenes;
}

.divCursos {
  grid-area: sectionProductos;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 0%;
}

.divForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
  padding: 1.5rem;
  border: solid $marronPrincipal 0.5rem;
}
.divCursos1 {
  display: flex;
   width: 70%;
  flex-direction: column;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  align-items: center;
  p {
    margin: 1rem;
    width: 70%;
    text-align: justify;
  }
}
.container {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.whatsapp1{
  font-size: 5rem;
  color: green;
  &:hover {
    color: $marronPrincipal;
  }
}
