.sectionProductos h2 {
    margin-top: 8px;
    text-decoration: underline;
  }
   p {
    @extend %estiloParrafo;
  }
  h4 {
    color: $coloresLetras;
  }
   video {
    @extend %bordesImagenes;
  }
  
  .container {
    display: flex;
    justify-content: center;
  }