.footerProductos {
    grid-area: footerProductos;
    .divFooter {
      display: flex;
      flex-direction: row;
      align-items: center;
      background-image: linear-gradient(
        90deg,
        rgba(133, 96, 63, 1) 0%,
        rgba(189, 147, 84, 1) 53%,
        rgba(227, 209, 138, 1) 100%
      );
      justify-content: space-around;
    }
    h4 {
      text-decoration: underline;
      color: $coloresLetras;
    }
    a {
      list-style: none;
      color: black;
      text-decoration: none;
    }
    .icono {
      font-size: 2rem;
      color: black;
      margin: 0.1rem;
      &:hover {
        color: $marronPrincipal;
      }
    }
    .ulIconos {
      display: flex;
      margin: 1rem;
      list-style: none;
    }
    .logoXuca1 {
      height: 2rem;
      &:hover {
        transition: (1.1);
        transform: scale(1.1);
      }
    }
    .whatsapp{
      position: fixed;
      top: auto;
      bottom: 20px;
      right: 20px;
      font-size: 2rem;
      color: #00bb2d;
      &:hover {
        transition: (1.1);
        transform: scale(1.1);
      }
    }
  }